.card-news {
    // min-width: 10em;
    display: flex;
    max-width: 30em;
    // background-color: white;
  }

  .card-news img {
    max-height: 22em;
    object-fit: cover;
  }

  .textContentContainer {
    // height: 15em;
    display: flex;
    flex-direction: column;
  }

  .textContentContainer * {
    margin: 0.2em;
  }

  .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: pre-wrap;
  }

  .subtitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: pre-wrap;
  }

  .summary {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    white-space: pre-wrap;
    
  }

  .buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
  }

  .buttons * {
    margin: 0.2em;
  }