<mat-card class="card-news">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-header>
    <mat-card-title>Notícia 1</mat-card-title>
    <mat-card-subtitle>Veja como envelhecer com elegância</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button>Ler mais</button>
    @switch (audioState) {
      @case(State.Initial) {
      <button mat-flat-button extended class="sound_card_button" (click)="toggleAudioState()">
        <mat-icon>volume_up</mat-icon>
        Ouvir
      </button>
      }
      @case(State.Play){ 
        <audio controls>
          <source src="" type="audio/ogg">
          <source src="" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      }
    }
  </mat-card-actions>
</mat-card>