<mat-card class="card-news" (click)="openArticle()">
  <img mat-card-image src='{{news.imagePath}}' alt={{news.imageAlt}}>
  <div class = 'textContent'>
    <mat-card-header>
      <mat-card-title matTooltip={{news.title}} matTooltipPosition="below" matTooltipShowDelay="1000">
        <p class="title">{{news.title}}</p>
      </mat-card-title>
      <mat-card-subtitle>
        <p class="subtitle">{{news.subtitle}}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class = "summary"> 
      <p class = "summary">
        {{news.summary}}
      </p>
    </mat-card-content>
  </div>
  <mat-card-actions class="buttons">
    <button mat-stroked-button (click)="openArticle()">Ler mais</button>
    @switch (audioState) {
      @case(State.Initial) {
      <button mat-flat-button extended class="sound_card_button" (click)="toggleAudioState($event)" aria-label="Ouvir a descrição do artigo">
        <mat-icon>volume_up</mat-icon>
        Ouvir
      </button>
      }
      @case(State.Play){ 
        <audio controls aria-label="Controles de áudio para o artigo">
          <!-- <source src="../../assets/audio/teste.mp3" type="audio/mpeg"> -->
          <source src={{news.audioPath}} type="audio/ogg">
          Seu navegador não consegue reproduzir esse tipo de áudio.
        </audio>
      }
    }
  </mat-card-actions>
</mat-card>