<div class="mainContainer">
  <header>
    <top-app-bar></top-app-bar>
    <mat-label class="breadcrumb"><a href="/65eNos">Home</a> > {{article.title}}</mat-label>
  </header>
  <main class="container">
    <article>
      <img [alt]="article.imageAlt" [src]="article.imagePath">

      <h1>{{article.title}}</h1>

      @if(audioState === State.Initial){
      <button aria-label="Tocar áudio descrição da notícia" (click)="audioState = State.Play" mat-raised-button>
        <mat-icon>
          volume_up
        </mat-icon>
        Clique aqui para ouvir a notícia
      </button>
      }@else {
      <audio (pause)="audioState = State.Pause" aria-label="audio descrição da notícia" (play)="audioState = State.Play"
        controls>
        <source src="../../assets/audio/teste.mp3" type="audio/mpeg">
        <source src="../../assets/audio/teste.ogg" type="audio/ogg">
        Your browser does not support the audio element.
      </audio>
      }

      <p [innerHTML]="article.content">
      </p>

      <div style="width: 100%;">
        <hr>
      </div>

      <comment-section aria-label="Seção de comentários" [commentTopic]="article.commentTopic"></comment-section>
    </article>
  </main>
  <app-footer></app-footer>

  <div class="fab-container">

    <button aria-label="Botão de compartilhar no whatsapp" mat-fab extended color="success">
      <mat-icon svgIcon="whatsapp"></mat-icon>
      Compartilhar
    </button>
    <scroll-top-button></scroll-top-button>
  </div>
</div>