.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    main {
        flex: 1;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

}

scroll-top-button{
    position: fixed;
    bottom: 2em;
    right: 0.5em;
    z-index: 99999;
}