<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="over">    
        <overlay-menu></overlay-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <header>
                <top-app-bar></top-app-bar>
                <div class="chip-container">
                    <filter-chips></filter-chips>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-disabled="Botão para abrir menu de ordenação">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <span style="padding-left: 0.5em;">
                            Ordernar por
                        </span>
                        <button aria-label="Botão de ordenação por mais recente" mat-menu-item
                            (click)="newsService.getSortedByPublicationDate('desc')">
                            <span>Mais Recente</span>
                        </button>
                        <button aria-label="Botão de ordenação por mais antigo" mat-menu-item
                            (click)="newsService.getSortedByPublicationDate('asc')">
                            <span>Mais Antigo</span>
                        </button>
                    </mat-menu>
                </div>
                <search-bar></search-bar>
            </header>
            <main>
                <app-grid-of-news></app-grid-of-news>
            </main>
            <scroll-top-button></scroll-top-button>
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
