<div class="container">

  <div class="menu-label">
    <h2>
      Menu
    </h2>
    <button (click)="close()" aria-label="Botão de fechar menu." mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  @if (currentUser) {
  <button aria-label="Botão de usuário." mat-button>
    <mat-icon> account_circle </mat-icon>
    {{userFullName}}
  </button>
  }
  @else {
  <div class="account-buttons segments">

    <button aria-label="Botão de entrar segmentsna conta." (click)="loginIn()" mat-flat-button extended>
      Entrar
    </button>

    <button aria-label="Botão de criar conta." (click)="createAccount()" mat-stroked-button extended>
      Criar Conta
    </button>
  </div>
  }


  <div class="segments">
    <mat-divider></mat-divider>
    @for (topic of topics; track $index) {
    <button [ariaLabel]="'Botão de navegar para o tópico de ' + topic" mat-button extended>
      <mat-icon iconPositionEnd>navigate_next</mat-icon>
      {{topic}}
    </button>
    <mat-divider></mat-divider>
    }
  </div>

  <div class="segments">
    @for (menuLink of links; track $index) {
      <button class="link-button" [ariaLabel]="'Botão de + {{label}}'" (click)="navigateTo(menuLink.route)" mat-button>
        <mat-icon>{{menuLink.icon}}</mat-icon>
        {{menuLink.label}}
      </button>
      <mat-divider></mat-divider>
    }
  </div>

  @if (currentUser) {
  <div class="segments">
    <button aria-label="Botão de sair da conta." (click)="logOut()" mat-button>
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
  }
</div>