<footer>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <div class="footer_content">
        <div class="footer_contact">
            <a href="/" class="home-link" aria-label="Volta para Página Inicial">
                65 e Nós
            </a>
            <h4>Seu site para notícias da melhor idade</h4>
            <div class="footer_social_media">
                <a href="#" class="footer_link" id="instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" class="footer_link" id="facebook" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#" class="footer_link" id="linkedin" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="#" class="footer_link" id="whatsapp" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="https://youtu.be/nf7-KCAs0gE?si=q74sci8anVbugdHC" target="_blank" class="footer_link" id="youtube">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>

        <div class="footer_list">
                <div>
                <p>Seja parte de nossa Comunidade</p>

                <li>
                    <a href="#" class="footer_link">Inscreva-se na nossa Newsletter</a>
                </li>
            </div>
            <div class="footer_about_us">
                <h2>Sobre Nós</h2>
                <p>Somos o maior portal de notícias da para a terceira idade.</p> 
            </div>               
        </div>
    </div>

    <div class="footer_copyright">
        <p>&#169; 2024 - Todos os direitos reservados</p>
    </div>
</footer>

