.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    mat-form-field {
        width: 40em;
        border: none;
    }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 50%;
}