@use '@angular/material' as mat;
@use '../m3-theme.scss';

@include mat.core();

html,* {
    // Apply the light theme by default
    @include mat.core-theme(m3-theme.$light-theme);
    @include mat.button-theme(m3-theme.$light-theme);
}


/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}