@use '@angular/material' as mat;

@include mat.core();
$light-theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$green-palette,
            ),
        ));
$dark-theme: mat.define-theme((color: (theme-type: dark,
                primary: mat.$green-palette,
            ),
        ));


body {
    // Apply the light theme by default
    @include mat.all-component-themes($light-theme);
}

body.dark-theme {
    @include mat.all-component-colors($dark-theme);

    a {
        color: white;
    }
}


/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html.small-font, html.small-font p {
    font-size: 14px;
}

html.medium-font, html.medium-font p{
    font-size: 16px;
    /* Tamanho de fonte padrão */
    letter-spacing: 1px;

}
html.large-font, html.large-font p{
    font-size: 20px;
    letter-spacing: 1.5px;
}

html.extra-large-font, html.extra-large-font p{
    font-size: 22px;
    letter-spacing: 1.6px;
}




@media only screen and (max-width: 768px) {
    * {
        overflow-x: hidden;
    }
}