@use '@angular/material' as mat;

@include mat.core();
$light-theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$green-palette,
            ),
        ));
$dark-theme: mat.define-theme((color: (theme-type: dark)));

html {
    // Apply the light theme by default
    @include mat.all-component-themes($light-theme);

}


/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html.small-font {
    font-size: 12px;
}

html.medium-font {
    font-size: 16px; /* Tamanho de fonte padrão */
}

html.large-font {
    font-size: 20px;
}

html.extra-large-font{
    font-size:24px;
}

@media only screen and (max-width: 768px) {
    *{
        overflow-x: hidden;
    }
}