<mat-toolbar class="top-app-bar">
  
	<div class="top-app-menu">	
		<button mat-icon-button class="burguer-menu" aria-label="Icone para abrir menu">
			<mat-icon>menu</mat-icon>
		</button>
		
		<div (click)="goHome()" class="home-link" aria-label="Volta para Página Inicial">65 e Nós</div>
		<!-- <a href="/" class="home-link" >
			65 e Nós
		</a> -->
	</div>

	<div class="accessibility-icons">
		<button mat-icon-button class="example-icon" title="Ajuda">
			<mat-icon>help</mat-icon>
		</button>

		<button mat-icon-button class="example-icon" title="Acessibilidade">
			<mat-icon>settings_accessibility</mat-icon>
		</button>

		<button mat-icon-button class="example-icon" title="Contraste" (click)="toggleContrast()">
			<mat-icon>contrast</mat-icon>
		</button>
		
		<button mat-icon-button class="example-icon" title="Aumentar fonte" (click)="increaseFontSize()">
			<mat-icon>text_increase</mat-icon>
		</button>
		
		<button mat-icon-button class="example-icon" title="Diminuir fonte" (click)="decreaseFontSize()">
			<mat-icon>text_decrease</mat-icon>
		</button>
	</div>
</mat-toolbar>