.top-app-bar{
	display: flex;
	justify-content: space-between;
}
.home-link{
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.top-app-menu {
	display: flex;
	align-items: center;
}

.accessibility-icons{
	display: flex;
}