@use '@angular/material' as mat;

.top-app-bar{
	display: flex;
	justify-content: space-between;
}
.home-link{
	// font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	// color: #69f0ae;
	// text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.top-app-menu {
	display: flex;
	align-items: center;
}

.accessibility-icons{
	display: flex;
}