<mat-toolbar>

</mat-toolbar>

<main class="main-container">
  <section class="inputs">
    <mat-form-field class="example-form-field">
      <mat-label>Nome</mat-label>
      <input matInput type="name" [(ngModel)]="name">
      @if (name) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        <mat-icon>clear</mat-icon>
      </button>
      }
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Sobrenome</mat-label>
      <input matInput type="lastName" [(ngModel)]="lastName">
      @if (lastName) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="lastName=''">
        <mat-icon>clear</mat-icon>
      </button>
      }
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" [formControl]="emailFormControl" [errorStateMatcher]="errorMatcher">
      @if (email) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
          <mat-icon>clear</mat-icon>
        </button>
      }
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Por favor, coloque um email válido. Ex: seunome&#64;exemplo.com</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
        <mat-error>Email é um campo <strong>obrigatório</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Confirmar email</mat-label>
      <input matInput type="email" [(ngModel)]="confirmEmail">
      @if (confirmEmail) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="confirmEmail=''">
        <mat-icon>clear</mat-icon>
      </button>
      }
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Senha</mat-label>
      <input matInput [type]="showPassword ? 'text': 'password'" [(ngModel)]="password" [formControl]="passwordFormControl" [errorStateMatcher]="errorMatcher">
      @if (password) {
        <button (click)="togglePassword('password')" matSuffix mat-icon-button>
          <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      }
      @if (!password){
        <mat-hint>Sua senha deve conter pelo menos uma letra maiúscula, uma minúscula, um número e um caracter especial (!&#64;#$%&*)</mat-hint>
      }
      @if (passwordFormControl.hasError('required')) {
        <mat-error>Senha é um campo <strong>obrigatório</strong></mat-error>
      }
      @else if (passwordFormControl.hasError('minLength')) {
        <mat-error>Sua senha deve ter <strong>pelo menos 10 caracteres</strong></mat-error>
      }
      @else if (passwordFormControl.hasError('lowerCase')) {
        <mat-error>Sua senha precisa ter pelo menos uma letra minúscula</mat-error>
      }
      @else if (passwordFormControl.hasError('upperCase')) {
        <mat-error>Sua senha precisa ter pelo menos uma letra maiúscula</mat-error>
      }
      @else if (passwordFormControl.hasError('digit')) {
        <mat-error>Sua senha precisa ter pelo menos um número</mat-error>
      }
      @else if (passwordFormControl.hasError('specialChar')) {
        <mat-error>Sua senha precisa ter pelo menos um character especial (!&#64;#$%&*)</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Confirmar senha</mat-label>
      <input matInput [type]="showConfirmPassword ? 'text': 'password'" [(ngModel)]="confirmPassword">
      @if (password) {
      <button (click)="togglePassword('confirm')" matSuffix mat-icon-button>
        <mat-icon>{{showConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      }
    </mat-form-field>

    
    <button mat-flat-button [disabled]="!name || !lastName || !email || !confirmEmail || !password || !confirmPassword">
      Criar conta
    </button>


  </section>
  <div class="buttons">
    <mat-label>Ou entre com:</mat-label>
    <button mat-stroked-button>
      Entrar com Google</button>
  </div>
</main>