.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    height: 100%;
    gap: 5em;
    img {
        width: auto;
        height: 10em;
    }

    .inputs {
        width: 30em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        mat-form-field {
            width: 100%;
        }
        button{
            width: 100%;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 30em;
        text-align: center;
    }


}