<h3><b>Vamos ter uma conversa:</b></h3>

<p>
  {{commentTopic}}
</p>


<div class="comment-container">
  <div class="comment-input">
    <img class="avatar" alt="Imagem de perfil do seu usuário"
      src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    <mat-form-field class="full-width">
      <mat-label>Comentário</mat-label>
      <input [(ngModel)]="comment" matInput>
    </mat-form-field>
  </div>
  @if(comment !== ''){
    <div class="button-container">
      <button (click)="comment = ''" mat-button aria-label="Botão para cancelar a adição de novo comentário">Cancelar</button>
      <button (click)="addComent()" aria-label="Botão de confirmar novo comentário" mat-flat-button>Confirmar</button>
    </div>
  }
</div>

<div class="comment-list">
  @for(comment of comments; track comment.id){
  <div class="comment">
    <img class="avatar" [alt]="'Imagem de perfil de '+comment.userName"
      src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    <div class="comment-body">
      <div class="comment-header">
        <p><b>{{comment.userName}}</b></p>
        <span>{{comment.date}}</span>
      </div>
      <p>{{comment.comment}}</p>
    </div>
  </div>
  }
</div>