p {
    font-size: medium;
}

.full-width {
    width: 100%;
}

.comment-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2em;
    
    .comment-input {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1em;

    }

    .button-container {
        display: flex;
        gap: 1em;
    }
}

.avatar {
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.comment-list {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .comment {

        width: 100%;
        display: flex;

        gap: 1em;
        .comment-body {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            .comment-header {
                display: flex;
                gap: 0.5em;
            }
        }
    }

}